extends layout

block content
   
    .container
        h1  #{title}
        br
        br
        #container-header
            h2  #{client.groupname}
            h5 By : #{client.username}
            p  #{client.description}
            
        